<app-header-toolbar (toggle)="sidenavToggle()"></app-header-toolbar>
<mat-sidenav-container [ngStyle]="{'height': mobileQuery.matches? 'calc(100vh - 56px)' : 'calc(100vh - 64px)'}">
    <mat-sidenav #sidenav [mode]="'push'" 
    [fixedInViewport]="true" [fixedTopGap]="mobileQuery.matches? 56 : 64"
    [autoFocus]="false" class="sidenavMenu">
        <button mat-flat-button color="primary" class="seeThrough sidenavButtons" routerLink="/offers" (click)="closeSidenavAfterClicking()">Offers</button>
        <button mat-flat-button color="primary" class="seeThrough sidenavButtons" routerLink="/subscriptions" (click)="closeSidenavAfterClicking()">Subscriptions</button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div [ngClass]="{'heightOnSmallScreen': mobileQuery.matches, 'heightOnBigScreen': !mobileQuery.matches}">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>