/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-image: url('./assets/main.jpg') !important;
  background-color: #4d4d4d  !important;
  background-position: center  !important;
  background-repeat: no-repeat  !important;
  background-size: cover  !important;
}
.transparentBg{
  background-color: transparent;
}

.seeThrough {
  background-color: #4d4d4d00 !important;
  font-size: 18px;
}
::-webkit-scrollbar {
  width: 6px !important;
}
::-webkit-scrollbar-track {
  background: #808080 !important;
}
::-webkit-scrollbar-thumb {
  background: rgb(66, 66, 66) !important;
  outline: 1px solid slategrey;
  border-radius: 10px;
}
.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #ffd1d1;
}
body {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
.offersContainer {
  height: 100%;
  text-align: center;
}
.post {
  width: 90% !important;
  display: inline-block !important;
  margin-bottom: 10px !important;
  background-color: #ffffffd4 !important;
  border-radius: 10px !important;
}
@media only screen and (max-width: 380px) {
  .post {
      width: 85%;
  }
}
.postHeaderImage {
  background-image: url('./assets/offer.jpg');
  background-size: cover;
  position: relative;
  bottom: 8px;
}
.firstPost {
  margin-top: 25px;
}
.cardBody {
  margin-top: 10px;
}
.positionSpinner {
  position: fixed !important;
  top: calc(50% - 50px) !important;
  left: calc(50% - 50px) !important;
}
.bodyParagraph {
  text-align: left;
  font-size: 1.3em;
  text-align: center;
}
::ng-deep .mat-card-header-text {
  margin: 2px 16px !important;
}